body{
    margin: 0px auto;
    padding: 0px;
}

p, span{
    font-family: verdana, Arial, sans-serif;
}

article{
    padding: auto 40px;
}

.container{
    max-width: 1000px;
}

header #top .container{
    padding: 0px 0px;
}
header .navbar{
    background-color: #87CEFA;
    border: 0px;
}

header #navbar{
    padding-left: 0px;
    line-height: 50px;
}
header #navbar span{
    color: #fff;
    font-size: 14px;
}
header #inbox .badge{
    background-color: #ADADAD;
}
header #navbar a{
    color: #fff;
    font-size: 18px;
    background-color: #87CEFA;
}
header #navbar a:hover{
    text-decoration: underline;
}
header #navbar .open #my-account{
    background-color: #63B8FF;
}
header #navbar .open .dropdown-menu{
    background-color: #87CEFA;
}
header #navbar .open .dropdown-menu a{
    font-size: 16px;
}
header #navbar .open .dropdown-menu a:hover{
    color: #828282;
    text-decoration: none;
}

header #lang{
    height: 50px;
    padding: 0px 12px;
}
header #lang button{
    color: #fff;
    margin: 8px 0px;
    padding: 5px 5px;
    min-width: 38px;
}
header #lang button#ch:hover{
    background-color: #CAFF70;
}
header #lang button#en:hover{
    background-color: #C9C9C9;
}
header #lang #ch{
    background-color: #B3EE3A;
}
header #lang #en{
    background-color: #ADADAD;
}

header #masthead{
    margin-bottom: 20px;
    display: flex;
}
header #brand{
    width: 40%;
    float: left;
}
header #welcoming-msg{
    width: 45%;
    float: left;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #7EC0EE;
    text-align: center;
}
header #welcoming-msg span{
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
}
header #post-ad{
    width: 15%;
    float: left;
    text-align: center;
    color: #fff;
    background-color: #FFC125;
}
header #post-ad p{
    margin-top: 10px;
    font-size: 18px;
    padding: 5px;
}
header #post-ad a{
    color: #fff;
}

header #topbar{
    margin-top: 10px;
    margin-bottom: 10px;
}
header #topbar button{
    padding: 10px 20px;
}
header #topbar .dropdown-toggle{
    padding: 10px 38px;
}
header #menu1{
    margin-right: 20px;
    background-color: #F8F8FF;
    color: #8DB6CD;
}
header #category-bar a:hover{
    background-color: #fff;
}
header #category-bar .dropdown-menu{
    background-color: #F8F8FF;
}
header #category-bar a{
    color: #8DB6CD;
}
header #searchbar{
    margin-left:10px;
    width: 75%;
}
header #searchbar input{
    padding: 20px;
}
header #searchbar .input-group-btn{
    width: 10%;
}
header #search-button{
    background-color: #00CDCD;
    color: #fff;
}

article #upbar3{
    display: flex;
}
article #upbar3 img{
    max-width: 65px;
    max-height: 65px;
    margin-right: 10px;
    float: left;
    position: relative;
}

article #placement{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 1000px;
    max-height: 500px;
    padding: 0px 10px;
    border: #7EC0EE;
    border-radius: 2px;
    border-style: dashed;
    font-size: 26px;
}
article #slide img{
    margin-top: 10px;
    width: 100%;
    height: 90%;
    position: relative;
}
article #description{
    padding: 5px;
    margin: 5px;
}
article #description p{
    font-family: fantasy;
}
article #description a{
    font-family: cursive;
    margin-bottom: 0px;
}

article{
    margin-top: 20px;
    margin-bottom: 30px;
    color: #696969;
}
article .content .title{
    font-size: 24px;
    font-family: monospace;
}
article .content .col-sm-4, .col-sm-3{
    border: solid 1px;
}
article .items{
    display: flex;
    margin: 20px 0px;
}
article .popular-items a{
    color: #5CACEE;
}
article .recent-items a{
    color: #000000;
}
article .items .main-img{
    max-width: 95%;
    max-height: 95%;
    padding: 8%;
}
article .popular-items .item1{
    margin-right: 5%;
}
article .popular-items .item2{
    margin-left: 5%;
    margin-right: 5%;
}
article .popular-items .item3{
    margin-left: 5%;
}

article .recent-items .item1{
    margin-right: 2%;
}
article .recent-items .item2, .item3{
    margin-right: 2%;
    margin-left: 2%;
}
article .recent-items .item4{
    margin-left: 2%;
}


article .items .extra-info{
    display: flex;
    margin: 10px 0px;
}
article .extra-info .likes{
    width: 70%;
}
article .extra-info .more-info{
    text-align: center;    
    float: right;
    background-color: #6CA6CD;
    font-size: 15px;
    padding: 3px;
    padding-top: 5px;
}
article .more-info a{
    color: #fff;
}
article .likes img:hover{
    border: solid 1px;
    border-color: #FF82AB;
}
article .extra-info .like-num{
    vertical-align: middle;
    padding: 10px;
}


footer #sitemap{
    background-color: #F0F8FF;
}
footer #sitemap a{
    color: #000000;
}
footer #sitemap-content{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ABABAB;
}
footer #main-menu{
    margin-right: 12%;
}
footer .sub-part{
    display: flex;
}
footer .sub-category{
    margin-right: 60px;
}

footer #copyright{
    background-color: #ADADAD;
    color: #fff;
    font-size: 13px;
    padding-top: 5px;
}
footer #copyright .container{
    display: table;
}
footer #copyright #copy-right, #share-button{
    display: inline-table;
}
footer #copyright #copy-right{
    margin-top: 6px;
}

