body{
    margin: 0px auto;
    padding: 0px;
    background-color: #fff;
}

p, span{
    font-family: verdana, Arial, sans-serif;
}

article{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: auto 40px;
}

.container{
    max-width: 1000px;
}

header #top .container{
    padding: 0px 0px;
}
header .navbar{
    background-color: #104E8B;
    border: 0px;
}

header #navbar{
    padding-left: 0px;
    line-height: 50px;
}
header #navbar span{
    color: #fff;
    font-size: 14px;
}
header #inbox .badge{
    background-color: #ADADAD;
}
header #navbar a{
    color: #fff;
    font-size: 18px;
    background-color: #104E8B;
}
header #navbar a:hover{
    text-decoration: underline;
}
header #navbar .open #my-account{
    background-color: #65A8E0;
}
header #navbar .open .dropdown-menu{
    background-color: #65A8E0;
}
header #navbar .open .dropdown-menu a{
    font-size: 16px;
    background-color: #65A8E0;
}
header #navbar .open .dropdown-menu a:hover{
    color: #000000;
    text-decoration: none;
}

header #lang{
    height: 50px;
    padding: 0px 12px;
}
header #lang button{
    color: #fff;
    margin: 8px 0px;
    padding: 5px 5px;
    min-width: 38px;
}
header #lang button#ch:hover{
    background-color: #3AEEB8;
}
header #lang button#en:hover{
    background-color: #E1E137;
}
header #lang #ch{
    background-color: #66CDAA;
}
header #lang #en{
    background-color: #cccc00;
}

header #masthead{
    margin-bottom: 20px;
    display: flex;
}
header #brand{
    width: 40%;
    float: left;
    padding-top: 8px;
}
header #brand img{
    width: 350px;
}
header #welcoming-msg{
    width: 45%;
    float: left;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 6px;
    color: #000000;
    text-align: center;
}
header #welcoming-msg span{
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
}
header #post-ad{
    width: 15%;
    float: left;
    text-align: center;
    color: #fff;
    background-color: #F99B3F;
}
header #post-ad p{
    margin-top: 10px;
    font-size: 18px;
    padding: 7px;
}
header #post-ad a{
    color: #fff;
}

header #topbar{
    margin-top: 10px;
    margin-bottom: 10px;
    display: table;
}
header #topbar button{
    padding: 10px 20px;
}
header #topbar .dropdown-toggle{
    padding: 10px 38px;
}
header #menu1{
    margin-right: 20px;
    background-color: #87CEFA;
    color: #fff;
    border-color: #72C4FA;
}
header #category-bar{
    display: inline-table;
}
header #category-bar a:hover{
    background-color: #5FBAF7;
}
header #category-bar .dropdown-menu{
    background-color: #95CFF6;
}
header #category-bar a{
    color: #fff;
}
header #searchbar{
    display: inline-table;
    float: right;
    margin-left:10px;
    width: 75%;
}
header #searchbar input{
    padding: 20px;
}
header #searchbar .input-group-btn{
    width: 10%;
}



article .container{
    display: table;
}
article .form-group{
    width: 100%;
}
article #basic-info, #contact-info{
    display: inline-table;
    width: 48%;
    min-height:300px; 
}
article .label-inline{
    margin-right: 105px;
}
article #basic-info{
    margin-right: 20px;
}
article #contact-info{
    float: right;
}
article .form-horizontal{
    margin-left: 15px;
}
article .form-inline .form-control{
    float: right;
    height: 28px;
    width: 70%;
    border-radius: 2px;
}
article #checkbox{
    margin-left: 0px;
}
article #login, #no-account{
    display: inline-table;
    width: 48%;
    margin-top: 45px;
    margin-bottom: 50px;
}
article #login{
    border-right: 1px solid #ADADAD;
}
article #no-account span{
    margin-left: 35%;
    vertical-align: middle;
}
article #no-account a{
    font-size: 24px;
}
article #bottom-part #submit{
    margin-right: 15px;
}
article #bottom-part{
    margin-bottom: 50px;
}


footer #sitemap{
    background-color: #F2F7FC;
}
footer #sitemap a{
    color: #000000;
}
footer #sitemap-content{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #000000;
}
footer #main-menu{
    margin-right: 12%;
}
footer .sub-part{
    display: flex;
}
footer .sub-category{
    margin-right: 60px;
}

footer #copyright{
    background-color: #104E8B;
    color: #fff;
    font-size: 13px;
    padding-top: 5px;
}
footer #copyright .container{
    display: table;
}
footer #copyright #copy-right, #share-button{
    display: inline-table;
}
footer #copyright #copy-right{
    margin-top: 6px;
}
